.section-2 {
  display: flex;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  background-color: #eff2f3;
  width:100%;
  padding:0 82px;

}

.div-block {
  width: 136px;
}

.div-block-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 136px;
  height: 41px;
  margin-bottom: 16px;
  border: 1px solid #d9dce0;
  border-radius: 8px;
}

.text-block {
  font-family: Satoshi, Arial, sans-serif;
  font-size: 20px;
}

.image-2 {
  width: 12px;
  height: 6px;
}

/* RADIO UI */
.w-radio {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 8px;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

.w-form-label {
  font-family: Satoshi, Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
}

/* BUTTON FILTERS */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  padding: 6px 16px;
  border-radius: 8px;
  background-color: #fff;
  color: #1a1a1a;
  font-family: Satoshi, Arial, sans-serif;
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
.button {
  color: #1a1a1a;
  background-color: #fff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 33px;
  padding: 6px 16px;
  font-family: Satoshi, Arial, sans-serif;
  display: inline-flex;
}
